@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
* {
  font-family: 'Poppins', sans-serif;
}

* a {
  text-decoration: none;
}

body {
  background-color: #974C35;
  width: 100%;
}

body .casona {
  width: 100%;
  padding: 40px 0;
  position: relative;
}

body .casona .mycont {
  width: 96%;
  margin: auto;
}

body .casona .mycont .logo {
  width: 120px;
  height: auto;
  margin-top: 8px;
}

body .casona .mycont .menu {
  z-index: 500;
}

body .casona .mycont .menu ul {
  position: relative;
}

body .casona .mycont .menu ul li {
  margin: 0 10px;
}

body .casona .mycont .menu ul li.shop {
  text-align: center;
  z-index: 500;
}

body .casona .mycont .menu ul li.shop:hover .Drop-menu {
  visibility: visible;
  opacity: 1;
}

body .casona .mycont .menu ul li.shop .Drop-menu {
  text-align: center;
  border: 2px solid white;
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  background-color: white;
  border-radius: 5px;
}

body .casona .mycont .menu ul li.shop .Drop-menu ul li a {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.542);
  width: 100%;
}

body .casona .mycont .menu ul li.shop .Drop-menu .drop-image {
  width: 90%;
  margin: auto;
}

body .casona .mycont .menu ul li a {
  color: white;
  font-size: 13px;
  font-weight: 500;
  line-height: 22px;
  padding: 10px 5px;
  letter-spacing: 1px;
}

body .casona .mycont .icons i {
  color: white;
  margin: 0 10px;
  font-size: 18px;
}

.robot {
  width: 100%;
  height: 100vh;
  position: relative;
}

.robot .mycont {
  width: 96%;
  margin: auto;
}

.robot .mycont .roboto-image {
  width: 30%;
  height: 50%;
  position: absolute;
  left: 15%;
  top: -10%;
}

.robot .mycont .text {
  width: 40%;
  position: absolute;
  left: 45%;
  top: 5%;
}

.robot .mycont .text h1 {
  font-size: 58px;
  font-weight: 400;
  line-height: 80px;
  color: white;
  margin-bottom: 40px;
}

.robot .mycont .text p {
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
  color: white;
  margin-bottom: 50px;
}

.robot .mycont .text a {
  border: 2px solid white;
  border-radius: 100px;
  color: black;
  background-color: white;
  padding: 15px 30px;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 3px;
}

.shopping {
  width: 100%;
  background-color: white;
  padding-top: 50px;
}

.shopping .mycont {
  width: 96%;
  margin: auto;
}

.shopping .mycont .item {
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}

.shopping .mycont .item img {
  -webkit-transition: 2s ease-in-out;
  transition: 2s ease-in-out;
}

.shopping .mycont .item:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.shopping .mycont .item .top-text {
  position: absolute;
  left: 10%;
  top: 7%;
}

.shopping .mycont .item .top-text h1 {
  font-size: 20px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 1px;
  margin-bottom: 8px;
  color: rgba(0, 0, 0, 0.893);
}

.shopping .mycont .item .top-text p {
  font-size: 13px;
  font-weight: 200;
  letter-spacing: 3px;
  color: rgba(0, 0, 0, 0.619);
}

.shopping .mycont .item .end-text {
  position: absolute;
  top: 90%;
  left: 80%;
}

.shopping .mycont .item .end-text a {
  display: block;
}

.shopping .mycont .item .end-text a h3 {
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 1px;
  color: rgba(0, 0, 0, 0.911);
  border-bottom: 2px solid black;
}

.essentials {
  width: 100%;
  background-color: white;
  padding-top: 60px;
}

.essentials .mycont {
  width: 96%;
  margin: auto;
}

.essentials .mycont .Top-text {
  text-align: center;
  width: 100%;
  padding: 25px 0;
}

.essentials .mycont .Top-text h1 {
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  color: black;
}

.essentials .mycont .Top-text hr {
  border-bottom: 1px solid rgba(0, 0, 0, 0.034);
  width: 80px;
  display: inline-block;
  text-align: center;
  margin: 15px 0;
  opacity: 0.5;
}

.essentials .mycont .Top-text p {
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 3px;
  color: rgba(0, 0, 0, 0.593);
}

.essentials .mycont .products {
  margin: 20px 0;
  overflow: hidden;
  border-radius: 5px;
}

.essentials .mycont .products:hover img {
  -webkit-transform: scale(1.06);
          transform: scale(1.06);
}

.essentials .mycont .products img {
  width: 100%;
  height: auto;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  border-radius: 5px;
}

.essentials .mycont .products .info-text {
  text-align: start;
}

.essentials .mycont .products .info-text a:hover h4 {
  color: #00d0ff;
}

.essentials .mycont .products .info-text a h4 {
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 1px;
  color: black;
  margin: 10px 0 5px 0;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.essentials .mycont .products .info-text p {
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 1px;
  color: rgba(0, 0, 0, 0.681);
}

.season-sale {
  width: 100%;
  height: 100vh;
  background-image: url(/images/bike.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.season-sale .Text-box {
  width: 35%;
  position: absolute;
  top: 25%;
  left: 12%;
}

.season-sale .Text-box h1 {
  font-size: 35px;
  font-weight: 500;
  line-height: 60px;
  letter-spacing: 2px;
  color: white;
}

.season-sale .Text-box p {
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 1px;
  color: white;
  width: 70%;
  margin: 40px 0;
}

.season-sale .Text-box a {
  display: block;
  padding: 12px 30px;
  border-radius: 5px;
  width: 180px;
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 4px;
  color: rgba(255, 255, 255, 0.931);
  background-color: rgba(0, 0, 0, 0.831);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.season-sale .Text-box a:hover {
  background-color: #13acff;
}

.collection {
  width: 100%;
  background-color: white;
  padding: 50px 0;
}

.collection .mycont {
  width: 96%;
  margin: auto;
}

.collection .mycont .Top-text {
  text-align: center;
  width: 100%;
  padding: 25px 0;
}

.collection .mycont .Top-text h1 {
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  color: black;
}

.collection .mycont .Top-text hr {
  border-bottom: 1px solid rgba(0, 0, 0, 0.034);
  width: 80px;
  display: inline-block;
  text-align: center;
  margin: 15px 0;
  opacity: 0.5;
}

.collection .mycont .Top-text p {
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 3px;
  color: rgba(0, 0, 0, 0.593);
}

.collection .mycont .dreaming {
  overflow: hidden;
}

.collection .mycont .dreaming:hover img {
  -webkit-transform: scale(1.07);
          transform: scale(1.07);
}

.collection .mycont .dreaming img {
  width: 100%;
  height: auto;
  -webkit-transition: 0.8s ease-in-out;
  transition: 0.8s ease-in-out;
}

.collection .mycont .dreaming .info-text {
  text-align: start;
}

.collection .mycont .dreaming .info-text h1 {
  font-size: 22px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 2px;
  color: black;
  margin: 30px 0 10px 0;
}

.collection .mycont .dreaming .info-text p {
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 3px;
  color: rgba(0, 0, 0, 0.411);
  margin: 10px 0 20px 0;
}

.collection .mycont .dreaming .info-text a {
  color: black;
  display: block;
  border-bottom: 2px solid black;
  width: 80px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.collection .mycont .dreaming .info-text a:hover {
  color: #0bcaff;
  width: 90px;
  border-bottom: 2px solid #0bcaff;
}

.collection .mycont .dreaming-2 {
  overflow: hidden;
  margin-top: 100px;
}

.collection .mycont .dreaming-2:hover img {
  -webkit-transform: scale(1.07);
          transform: scale(1.07);
}

.collection .mycont .dreaming-2 img {
  width: 100%;
  height: auto;
  -webkit-transition: 0.8s ease-in-out;
  transition: 0.8s ease-in-out;
}

.collection .mycont .dreaming-2 .info-text {
  text-align: start;
}

.collection .mycont .dreaming-2 .info-text h1 {
  font-size: 22px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 2px;
  color: black;
  margin: 30px 0 10px 0;
}

.collection .mycont .dreaming-2 .info-text p {
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 3px;
  color: rgba(0, 0, 0, 0.411);
  margin: 10px 0 20px 0;
}

.collection .mycont .dreaming-2 .info-text a {
  color: black;
  display: block;
  border-bottom: 2px solid black;
  width: 80px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.collection .mycont .dreaming-2 .info-text a:hover {
  color: #0bcaff;
  width: 90px;
  border-bottom: 2px solid #0bcaff;
}
/*# sourceMappingURL=style.css.map */